
#logo {
    text-align: center;
}

#search {
    text-align: center;
}

#search-buttons {
    text-align: center;
}

#search-bar {
    background: #fff;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 482px;
}

#search-bar:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

button {
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-size: 14px;
    padding: 0 16px;
    line-height: 27px;
    text-align: center;
    font-family: arial, sans-serif;
    margin: 11px 4px;
    height: 36px;
    min-width: 54px;
}

button:hover {
    color: #222;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}